In [2]:
# Skincare Market Analysis
# Goal : Understand brand performance, pricing, and ratings

# importing data

import os

folder_path = "C:\\Users\\HP\\OneDrive\\Desktop\\skincare-analysis\\data\\raw\\Sephora_data"
os.listdir(folder_path)

['product_info.csv',
 'reviews_0-250.csv',
 'reviews_1250-end.csv',
 'reviews_250-500.csv',
 'reviews_500-750.csv',
 'reviews_750-1250.csv']

In [3]:
# importing product_info.csv

import pandas as pd

sephora = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\skincare-analysis\\data\\raw\\Sephora_data\\product_info.csv")
sephora.head()

,product_id,product_name,brand_id,brand_name,loves_count,rating,reviews,size,variation_type,variation_value,...,online_only,out_of_stock,sephora_exclusive,highlights,primary_category,secondary_category,tertiary_category,child_count,child_max_price,child_min_price
0,P473671,Fragrance Discovery Set,6342,19-69,6320,3.6364,11.0,NaN,NaN,NaN,...,1,0,0,"['Unisex/ Genderless Scent', 'Warm &Spicy Scen...",Fragrance,Value & Gift Sets,Perfume Gift Sets,0,NaN,NaN
1,P473668,La Habana Eau de Parfum,6342,19-69,3827,4.1538,13.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,...,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,85.0,30.0
2,P473662,Rainbow Bar Eau de Parfum,6342,19-69,3253,4.2500,16.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,...,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,75.0,30.0
3,P473660,Kasbah Eau de Parfum,6342,19-69,3018,4.4762,21.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,...,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,75.0,30.0
4,P473658,Purple Haze Eau de Parfum,6342,19-69,2691,3.2308,13.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,...,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,75.0,30.0

In [4]:
# Understanding the data

sephora.shape
sephora.describe()
sephora.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8494 entries, 0 to 8493
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          8494 non-null   object
 1   product_name        8494 non-null   object
 2   brand_id            8494 non-null   int64
 3   brand_name          8494 non-null   object
 4   loves_count         8494 non-null   int64
 5   rating              8216 non-null   float64
 6   reviews             8216 non-null   float64
 7   size                6863 non-null   object
 8   variation_type      7050 non-null   object
 9   variation_value     6896 non-null   object
 10  variation_desc      1250 non-null   object
 11  ingredients         7549 non-null   object
 12  price_usd           8494 non-null   float64
 13  value_price_usd     451 non-null    float64
 14  sale_price_usd      270 non-null    float64
 15  limited_edition     8494 non-null   int64
 16  new                 8494 non-null   int64
 17  online_only         8494 non-null   int64
 18  out_of_stock        8494 non-null   int64
 19  sephora_exclusive   8494 non-null   int64
 20  highlights          6287 non-null   object
 21  primary_category    8494 non-null   object
 22  secondary_category  8486 non-null   object
 23  tertiary_category   7504 non-null   object
 24  child_count         8494 non-null   int64
 25  child_max_price     2754 non-null   float64
 26  child_min_price     2754 non-null   float64
dtypes: float64(7), int64(8), object(12)
memory usage: 1.7+ MB

In [5]:
# importing other dataset

folder_path1 = "C:\\Users\\HP\\OneDrive\\Desktop\\skincare-analysis\\data\\raw\\Skincare_cleandataset"
os.listdir(folder_path1)

['skincare_products_clean.csv']

In [6]:
# importing skincare_products_clean.csv

skincare = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\skincare-analysis\\data\\raw\\Skincare_cleandataset\\skincare_products_clean.csv")
skincare.head()

,product_name,product_url,product_type,clean_ingreds,price
0,The Ordinary Natural Moisturising Factors + HA...,https://www.lookfantastic.com/the-ordinary-nat...,Moisturiser,"['capric triglyceride', 'cetyl alcohol', 'prop...",£5.20
1,CeraVe Facial Moisturising Lotion SPF 25 52ml,https://www.lookfantastic.com/cerave-facial-mo...,Moisturiser,"['homosalate', 'glycerin', 'octocrylene', 'eth...",£13.00
2,The Ordinary Hyaluronic Acid 2% + B5 Hydration...,https://www.lookfantastic.com/the-ordinary-hya...,Moisturiser,"['sodium hyaluronate', 'sodium hyaluronate', '...",£6.20
3,AMELIORATE Transforming Body Lotion 200ml,https://www.lookfantastic.com/ameliorate-trans...,Moisturiser,"['ammonium lactate', 'c12-15', 'glycerin', 'pr...",£22.50
4,CeraVe Moisturising Cream 454g,https://www.lookfantastic.com/cerave-moisturis...,Moisturiser,"['glycerin', 'cetearyl alcohol', 'capric trigl...",£16.00

In [7]:
# Understanding the data

skincare.shape
skincare.describe()
skincare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1138 non-null   object
 1   product_url    1138 non-null   object
 2   product_type   1138 non-null   object
 3   clean_ingreds  1138 non-null   object
 4   price          1138 non-null   object
dtypes: object(5)
memory usage: 44.6+ KB

In [8]:
# Filtering Sephora Dataset to only Skincare

## Finding the skincare category
sephora['primary_category'].value_counts().head(10)

primary_category
Skincare           2420
Makeup             2369
Hair               1464
Fragrance          1432
Bath & Body         405
Mini Size           288
Men                  60
Tools & Brushes      52
Gifts                 4
Name: count, dtype: int64

In [9]:
## Creating a new dataframe that only contains skincare items

skincare_sephora = sephora[
    sephora['primary_category']
    .str.strip()
    .str.lower()
    .str.contains('skincare')
].copy()

skincare_sephora.shape

(2420, 27)

In [10]:
##Finding type of skincare

skincare_sephora['secondary_category'].value_counts().head(10)

secondary_category
Moisturizers         551
Treatments           466
Cleansers            361
Value & Gift Sets    196
Eye Care             186
Masks                166
Mini Size            112
Sunscreen            108
High Tech Tools       80
Wellness              79
Name: count, dtype: int64

In [15]:
# Saving only skincare data

skincare_sephora.to_csv("C:\\Users\\HP\\OneDrive\\Desktop\\skincare-analysis\\data\\processed\\skincare_sephora.csv")

In [16]:
# Brand Performance
## Which brands are most loved?

brand_perf = (
    skincare_sephora
    .groupby('brand_name')
    .agg(
        num_products=('product_id', 'count'),
        avg_price=('price_usd', 'mean'),
        avg_rating=('rating', 'mean'),
        total_loves=('loves_count', 'sum')
    )
    .sort_values('total_loves', ascending=False)
)

brand_perf.head(10)

                     num_products  avg_price  avg_rating  total_loves
brand_name
The Ordinary                   45  12.204444    4.179747      6628060
Drunk Elephant                 38  45.815789    4.132561      3615978
Tatcha                         42  60.285714    4.268855      3248121
Glow Recipe                    27  34.185185    4.337119      2668539
LANEIGE                        26  31.730769    4.298319      2445502
The INKEY List                 41  13.441463    4.087846      2201657
SEPHORA COLLECTION             96  14.151042    4.049481      2155630
fresh                          50  45.560000    4.222244      2127726
Youth To The People            27  52.444444    4.334863      1908215
CLINIQUE                       90  40.305556    4.034653      1701952

In [17]:
# Saving the table

brand_perf.to_csv("C:\\Users\\HP\\OneDrive\\Desktop\\skincare-analysis\\data\\processed\\brand_performance.csv")

In [27]:
#Product Performance
## What products are most loved?

top_products = (
    skincare_sephora
    .sort_values('loves_count', ascending=False)
    [['product_name', 'brand_name', 'price_usd', 'rating', 'loves_count']]
    .head(10)
)

top_products.head(10)

,product_name,brand_name,price_usd,rating,loves_count
4431,Lip Sleeping Mask Intense Hydration with Vitam...,LANEIGE,24.0,4.3508,1081315
7648,Niacinamide 10% + Zinc 1% Oil Control Serum,The Ordinary,6.0,4.2439,763168
7651,Hyaluronic Acid 2% + B5 Hydrating Serum,The Ordinary,15.7,4.2133,720504
7653,Glycolic Acid 7% Exfoliating Toning Solution,The Ordinary,13.0,4.3456,542743
7652,AHA 30% + BHA 2% Exfoliating Peeling Solution,The Ordinary,9.5,4.5734,533877
4432,Lip Glowy Balm,LANEIGE,18.0,4.3923,471406
2228,Protini Polypeptide Firming Refillable Moistur...,Drunk Elephant,68.0,3.9620,411372
8402,Superfood Antioxidant Cleanser,Youth To The People,39.0,4.2112,404142
2484,Green Clean Makeup Removing Cleansing Balm,Farmacy,36.0,4.4958,403801
2945,Watermelon Glow Niacinamide Dew Drops,Glow Recipe,35.0,4.3975,389213

In [44]:
# Saving the table

top_products.to_csv("C:\\Users\\HP\\OneDrive\\Desktop\\skincare-analysis\\data\\processed\\top_products.csv",index=False)

In [ ]:
#From the skincare dataframe

##Cleaning the price column

import pandas as pd

skincare['price'] = (
    skincare['price']
    .str.replace('$', '', regex=False)
    .str.replace('£', '', regex=False)
    .str.strip()
)

skincare['price'] = pd.to_numeric(skincare['price'], errors='coerce')

In [34]:
skincare['price'].describe()

count    1138.000000
mean       24.021775
std        21.770652
min         1.950000
25%         9.950000
50%        18.925000
75%        31.500000
max       230.000000
Name: price, dtype: float64

In [35]:
# Finding the most common ingredients used

from collections import Counter

ingredients_series = (
    skincare['clean_ingreds']
    .str.lower()
    .str.split(',')
)

ingredient_counts = Counter(
    i.strip() for sublist in ingredients_series for i in sublist
)

ingredient_counts.most_common(15)

[("'glycerin'", 575),
 ("'phenoxyethanol'", 547),
 ("'parfum'", 438),
 ("'citric acid'", 365),
 ("'limonene'", 355),
 ("'disodium edta'", 342),
 ("'linalool'", 339),
 ("'tocopherol'", 333),
 ("'sodium hyaluronate'", 309),
 ("'butylene glycol'", 281),
 ("'sodium hydroxide'", 276),
 ("'xanthan gum'", 263),
 ("'ethylhexyl glycerin'", 252),
 ("'caprylyl glycol'", 243),
 ("'sodium benzoate'", 235)]

In [48]:
# Saving the result

## Converting to a dataframe

import pandas as pd

ingredient_df = pd.DataFrame(
    ingredient_counts.items(),
    columns=["ingredient", "count"]
)

## Saving as a csv

ingredient_df.to_csv("C:\\Users\\HP\\OneDrive\\Desktop\\skincare-analysis\\data\\processed\\ingredient_usage.csv" , index = False)